<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Instrument Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=electric_guitars" class="dropdown-item">Electric Guitars</a>
                <a href="{% url 'products' %}?category=acoustic_guitars" class="dropdown-item">Acoustic Guitars</a>
                <a href="{% url 'products' %}?category=electric_basses" class="dropdown-item">Electric Basses</a>
                <a href="{% url 'products' %}?category=stage_pianos" class="dropdown-item">Stage Pianos</a>
            </div>
        </li>
    </ul>
</div>